/* sec4 CONTACT start */
.contact .contact-big-card .contact-ifram{
    width: 100%;
    /* height: 100%; */
}
.contact .contact-big-card .contact-ifram iframe{
    width: 100%;
}
.contact .contact-big-card .cards{
    display: flex;
    flex-wrap:wrap ;
    gap: 12px;
    margin: 48px 0 ;
}
.contact .contact-big-card .cards .card{
    background-color: #F5F5F5;
    padding: 15px;
    display: flex;
}
.contact .contact-big-card .cards .card .card-icon{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border: 1px red solid;
    border-radius: 50%;
    padding: 10px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .contact-big-card .cards .card .card-text h3{
    color: rgb(125, 125, 125);
    font-weight: 700;
    font-size: 20px;
}
.contact .contact-big-card .cards .card .card-text h4{
    color: rgb(33, 37, 41);

}
.contact .contact-big-card .cards .card .card-icon i{
    color: white;
}

/* form start */
.contact .contact-big-card .card-form{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 25px 0 48px 0;
}
.contact .contact-big-card .card-form input{
    padding: 15px;
    border:1px solid rgb(232, 227, 227) ;
}
.contact .contact-big-card .card-form input:focus{
    border:solid rgb(206, 18, 18) ;
}
.contact .contact-big-card .card-form textarea{
    width: 100%;
    padding: 15px;
    border-color:rgb(232, 227, 227) ;
}
.contact .contact-big-card .card-form .subject{
    width: 100%;
}
.contact .contact-big-card .card-form button{
    font-size: 15px;
    padding: 12px 40px;
    color: white;
    background-color: rgb(215, 19, 19);
    border: rgba(255, 0, 0, 0) solid 2px;
    border-radius: 50px;
    margin-inline: auto;
}
.contact .contact-big-card .card-form button:hover{
    background-color: rgb(207, 18, 18);
}